body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.logo {
    max-width: 250px;
    height: auto;
    margin-bottom: 20px;
}

a {
    color:#e22026;
    text-decoration: underline;
}
